/* You can add global styles to this file, and also import other style files */
$spacer: 1rem;
$primary: #4538ff;
$btn-close-color: red;

$font-family-base: "Poppins";
@import '../node_modules/bootstrap/scss/bootstrap.scss';
  .flex-1 {
      flex: 1;
  }
.cursor-pointer{
    cursor: pointer;
}